   <nav class="ui large black menu">
    <h3 class="left header item">Bloggable Blogidy</h3>
    <div class="left menu">
     {{#link-to 'home' class="item"}}<i class="home icon"></i>Home{{/link-to}}
     {{#link-to 'members' class="item"}}<i class="users icon"></i>Members{{/link-to}}
     {{#link-to 'blogs' class="item"}}<i class="tags icon"></i>Blogs{{/link-to}}
     {{#link-to 'about' class="item"}}<i class="key icon"></i>About{{/link-to}}
     {{#link-to 'index' class="item"}}<i class="eject icon"></i>Logout{{/link-to}}
    </div>
   </nav>
