<!DOCTYPE html>
<html>
 <head>
  #{set webname:'Blog'/}
  <title>#{get 'title' /}</title>
  <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
  #{get 'moreStyles' /}
  <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
  <script src="@{'/public/js/libs/jquery-1.10.2.js'}" type="text/javascript"></script>
  #{get 'moreScripts' /}
  <link rel="stylesheet" type="text/css" href="@{'/public/semantic/css/semantic.min.css'}">
  <link rel="stylesheet" href="/public/css/normalize.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <script src="/public/js/semantic_mine.js"></script> 
  <script src="@{'/public/semantic/javascript/semantic.min.js'}"></script>
  <meta charset="${_response_encoding}">
 </head>
 <body>  
 #{include "components/ember_views.html" /}  

      
*{**        #{doLayout /}  **}*
        
        <script src="/public/js/libs/handlebars-1.1.2.js"></script>
        <script src="/public/js/libs/ember-1.4.0.js"></script>
<!--         <script src="/public/js/libs/ember-1.5.0-B5.js"></script> 
        <script src="/public/js/libs/ember-data.js"></script>  -->
<!--         <script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script> -->
<!--         <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script> -->  
        <script src="/public/js/showdown.min.js"></script>
        <script src="/public/js/moment.min.js"></script>
        <script src="/public/js/app.js"></script>
        <script src="/public/js/routes/app_routes.js"></script>
        <script src="/public/js/controllers/app_controllers.js"></script>
        <script src="/public/js/views/app_views.js"></script>

        <!-- to activate the test runner, add the "?test" query string parameter -->
        <script src="/public/tests/runner.js"></script>
          
    </body>
</html>
